<!-- <div class="container" style="text-align:center">
  <h1>Ecoles Françaises</h1><br>
    <div class="form-group">

    <select class="form-control" id="exampleFormControlSelect1">
      <option value="">Selectionnez le pays de votre choix  </option>
      <option  *ngFor = "let data of httpdata">{{ data.libelle_pays }}</option>
    </select>
    <button type="button" name="button" class="btn btn-primary"><a router-link="details">Afficher</a></button>
  </div> -->

  <!-- <router-outlet></router-outlet>
  <app-details></app-details> -->
<!-- </div> -->

<!--
<div class="container">
  <div class="row">

    <section class="col-sm-6">
      <div class="list_image">
        <ul>
          <li *ngFor = "let data of httpdata"><a href="#">{{ data.libellePays }}</a></li>
        </ul>
      </div>
    </section>

    <section class="col-sm-6">
      <div>
        <p>Les Ecoles françaises </p>

      </div>
    </section>
  </div>
</div>
-->
<router-outlet> </router-outlet>
